body{
    background: url("https://image.freepik.com/free-vector/gradient-background-with-bokeh-effect_23-2148363158.jpg");
    background-size: cover;
}
#quote{
    font-weight: bold;
    font-family: Fredoka One;
    font-size: 30px;
 color: rgb(253, 52, 52);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container  {
  width: 70vw;
  height: 50vh;
  position: relative;
  margin: auto;

}
.slidimg{
  width: auto;
  height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mySlides{
   display: block;
  justify-content: center;
  text-align: center;
  background-color: rgb(238, 207, 207,0.4);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text{
  size: 20px;
  font-weight: bold;
  color:blue;
  background-color: white;
   width: auto;
  display: inline-block;  

}